
<!DOCTYPE html SYSTEM>
<html lang="en">
<head>
<title>bbbHome - Home Page | Hosting - Free Website Template from Templates.com</title>
<meta name="description" content="Place your description here" />
<meta name="keywords" content="put, your, keyword, here" />
<meta name="author" content="Templates.com - website templates provider" />
<meta charset="utf-8" />
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css" media="all" />


</head>
<h1>New Article</h1>
<%= form_for :article, url: articles_path do |f|%>
<p>
<%= f.label :title %><br>
<%= f.text_field :title %>
</p>
<p>
	<%= f.label :text %><br>
<%= f.text_area :text %>	
</p>
<p>
		<%= f.submit %>
</p>
<% end %>
